---
import Container from '@/components/Container.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout title='Tags' description='A list of tags used in the blog'>
  <Container>
    <p>Nothing to see here</p>
  </Container>
</Layout>
