---
import Container from '@/components/Container.astro';
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import PostCard from '@/components/PostCard.astro';
import { SITE } from '@/utils/site';

const posts = await getCollection('posts');
---

<Layout
  title={SITE.TITLE}
  description={SITE.DESCRIPTION}
>
  <Container
    class='border-t border-dashed min-h-[calc(100vh-100px)] py-16'
  >
    <ul
      class='grid justify-center gap-20 grid-cols-[repeat(auto-fill,minmax(0,_400px))] w-full'
    >
      {posts.slice(0, 4).map((post) => <PostCard entry={post} />)}
    </ul>
    {
      posts.length > 4 && (
        <div class='flex justify-center mt-8'>
          <a href='/blog' class='hover:underline'>
            See All
          </a>
        </div>
      )
    }
  </Container>
</Layout>
