---
import Container from './Container.astro';
import Logo from './Logo.astro';
---

<header>
  <Container>
    <nav class='w-full flex items-center justify-center py-2.5'>
      <a href='/' aria-label="Homepage">
        <Logo />
      </a>
    </nav>
  </Container>
</header>
